.exploreFoodsNacionalities {
  width: 100%;
}


.select {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-block: 20px;
  width: 100%;
}

.select > select {
  min-width: 50%;
}