.favoriteRecipes > nav {
  align-items: center;
  display: flex;
  gap: 25px;
  justify-content: center;
  padding-block: 20px;
}

.favoriteRecipes > main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

