/* .foods {
  background-color: #e1e5eb;
} */

.foods > nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-evenly;
  margin: 10px 30px;
}

.foods > main {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 30px;
  width: 100%;
}
