.header {
  align-items: center;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header > div {
  display: flex;
  justify-content: space-between;
  margin-block: 10px;
  padding: 5px;
  width: 100%;
}

.header > div > h3 {
  left: 0;
  margin-inline: auto;
  position: absolute;
  right: 0;
  text-align: center;
  width: 80%;
}
